
{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">

        <h3>Welcome {{request.user.username | capfirst}}</h3>
        <br>

        <div class="col-sm-3 boder-end">
            <ul class="list-unstyled">
                <li class="d-grind"><a href="{% url 'passwordchange' %}" class="btn btn-primary">Change Password done</a></li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Changed Successfully</h3>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="280" height="280" style="" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}